NEXT_PUBLIC_SITE_URL=https://uknown.ru

# Timeweb / database
DATABASE_HOST=
DATABASE_PORT=3306
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=

# Auth
YANDEX_OAUTH_CLIENT_ID=
YANDEX_OAUTH_CLIENT_SECRET=

# Yandex Pay / Split
YANDEX_PAY_ENV=sandbox
YANDEX_PAY_MERCHANT_ID=
YANDEX_PAY_API_KEY=
YANDEX_PAY_NOTIFICATION_URL=
YANDEX_PAY_RETURN_URL=https://uknown.ru/checkout/success

# CDEK
CDEK_ENV=test
CDEK_ACCOUNT=
CDEK_SECURE_PASSWORD=
CDEK_WEBHOOK_URL=

# Admin / support
SUPPORT_EMAIL=
SUPPORT_PHONE=
LEGAL_CONTACT_EMAIL=
